
<div class="row bootstrap snippets">
    <div class="box box-primary direct-chat direct-chat-primary" >
        <div class="box-header with-border">
            <h3 class="box-title" >Centro de mensajes</h3>
        </div>

        <div class="box-footer">
            <form id="estructuraChat">
                <input type="email" id="correo" placeholder="Ingresa tu correo electrónico..." class="form-control email-field" required />
                <input type="text" id="publicacion" placeholder="Aquí puedes escribir lo que quieras..." class="form-control text-field">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Enviar mensaje"></button>
                </span>
            </form>
        </div>
        <div class="box-body">
            <div class="direct-chat-messages">
            <div id="messages"></div> 
        </div>
    </div>
</div>